In [1]:
import typing as t
import pyodbc
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()

SERVER = os.getenv("SERVER")
DATABASE = os.getenv("DATABASE")
USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")

# Define the connection string for SQL Server (Azure)
CONN_STR = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={SERVER};"
    f"DATABASE={DATABASE};"
    f"UID={USERNAME};"
    f"PWD={PASSWORD}"
)

In [ ]:
def get_data() -> pd.DataFrame:
    """
    Get initial data from the Azure SQL Database.

    Returns:
        pd.DataFrame: DataFrame containing the data from the database.
    """

    try:
        conn = pyodbc.connect(CONN_STR)
        print("Connected to the Azure SQL Database successfully!")

    except pyodbc.Error as e:
        print(f"Error connecting to the database: {e}")

    query = "SELECT * FROM SalesLT.customerFROM"

    try:
        df = pd.read_sql(query, conn)
        print("Data retrieved successfully!")
        conn.close()
    except Exception as e:
        print(f"Error reading data: {e}")
        return pd.DataFrame()

    return df


df: pd.DataFrame = get_data()

df.head()

Connected to the Azure SQL Database successfully!

C:\Users\angel\AppData\Local\Temp\ipykernel_8984\4098523625.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Data retrieved successfully!
   CustomerID  NameStyle Title FirstName MiddleName    LastName Suffix  \
0           1      False   Mr.   Orlando         N.         Gee   None
1           2      False   Mr.     Keith       None      Harris   None
2           3      False   Ms.     Donna         F.    Carreras   None
3           4      False   Ms.     Janet         M.       Gates   None
4           5      False   Mr.      Lucy       None  Harrington   None

                  CompanyName               SalesPerson  \
0                A Bike Store   adventure-works\pamela0
1          Progressive Sports    adventure-works\david8
2    Advanced Bike Components  adventure-works\jillian0
3       Modular Cycle Systems  adventure-works\jillian0
4  Metropolitan Sports Supply      adventure-works\shu0

                   EmailAddress         Phone  \
0  orlando0@adventure-works.com  245-555-0173
1    keith0@adventure-works.com  170-555-0127
2    donna0@adventure-works.com  279-555-0130
3    janet1@adventure-works.com  710-555-0173
4     lucy0@adventure-works.com  828-555-0186

                                   PasswordHash PasswordSalt  \
0  L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=     1KjXYs4=
1  YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=     fs1ZGhY=
2  LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=     YTNH5Rw=
3  ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=     nm7D5e4=
4  KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=     cNFKU4w=

                                rowguid ModifiedDate
0  3F5AE95E-B87D-4AED-95B4-C3797AFCB74F   2005-08-01
1  E552F657-A9AF-4A7D-A645-C429D6E02491   2006-08-01
2  130774B1-DB21-4EF3-98C8-C104BCD6ED6D   2005-09-01
3  FF862851-1DAA-4044-BE7C-3E85583C054D   2006-07-01
4  83905BDC-6F5E-4F71-B162-C98DA069F38A   2006-09-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    847 non-null    int64
 1   NameStyle     847 non-null    bool
 2   Title         840 non-null    object
 3   FirstName     847 non-null    object
 4   MiddleName    504 non-null    object
 5   LastName      847 non-null    object
 6   Suffix        48 non-null     object
 7   CompanyName   847 non-null    object
 8   SalesPerson   847 non-null    object
 9   EmailAddress  847 non-null    object
 10  Phone         847 non-null    object
 11  PasswordHash  847 non-null    object
 12  PasswordSalt  847 non-null    object
 13  rowguid       847 non-null    object
 14  ModifiedDate  847 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(12)
memory usage: 93.6+ KB
None

In [ ]:
def prepare_data(df: pd.DataFrame) -> pd.DataFrame:
    """
    Prepares the data for prediction.

    Args:
        df (pd.DataFrame): The input DataFrame containing the data.

    Returns:
        pd.DataFrame: The prepared DataFrame with the necessary features.
    """

    df = df[["FirstName", "ModifiedDate"]].sort_values(by="ModifiedDate")
    df["FirstNameLen"] = df["FirstName"].str.len()
    df["ModifiedDate"] = (
        pd.to_datetime(df["ModifiedDate"]) - pd.to_datetime(df["ModifiedDate"]).min()
    )
    df["ModifiedDate"] = df["ModifiedDate"].dt.days

    return df[["FirstNameLen", "ModifiedDate"]].reset_index(drop=True)

In [ ]:
df2 = prepare_data(df)
df2.head(100)

    FirstNameLen  ModifiedDate
0              5             0
1              7             0
2              5             0
3              7             0
4              7             0
..           ...           ...
95             5            31
96             6            31
97             5            31
98             5            31
99             5            31

[100 rows x 2 columns]

In [ ]:
# Assign dates to the ModifiedDate column
df3 = df2.copy()

df3["ModifiedDate"] = pd.to_datetime(
    df2["ModifiedDate"],
    unit="D",
    origin="2005-07-01",
)

df3.head(100)

    FirstNameLen ModifiedDate
0              5   2005-07-01
1              7   2005-07-01
2              5   2005-07-01
3              7   2005-07-01
4              7   2005-07-01
..           ...          ...
95             5   2005-08-01
96             6   2005-08-01
97             5   2005-08-01
98             5   2005-08-01
99             5   2005-08-01

[100 rows x 2 columns]

In [16]:
df3.tail()

     FirstNameLen ModifiedDate
842             7   2009-05-16
843             8   2009-05-16
844             8   2009-05-16
845             3   2009-05-16
846             3   2009-05-16

In [3]:
from datetime import date, timedelta


def int_to_date(day_int: int, start_date: t.Optional[date] = None) -> str:
    """
    Convert an integer to a date string in the format YYYY-MM-DD.

    This function is specifically designed to this dataset
    """

    if start_date is None:
        start_date = date(2005, 7, 1)

    result = start_date + timedelta(days=day_int)
    result = result.strftime("%Y-%m-%d")
    return result

In [4]:
list_example = [1, 2, 3, 4, 5]

list_dates = list()
for i, value in enumerate(list_example):
    list_dates.append(int_to_date(value))

list_dates

['2005-07-02', '2005-07-03', '2005-07-04', '2005-07-05', '2005-07-06']